<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualizar Filme</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header th:replace="navbar :: navbar"></header>

<div class="container mt-4">
    <h1 class="mb-4">Atualizar Filme</h1>

    <form th:action="@{/atualizarFilmeForm}" th:object="${filme}" method="post" class="row">
        <input type="hidden" th:field="${filme.id}" /> 

        <div class="col-md-6">
            <div class="form-group">
                <label for="titulo">Nome</label>
                <input id="titulo" type="text" class="form-control" th:field="${filme.titulo}" placeholder="Título do filme">
            </div>

            <div class="form-group">
                <label for="sinopse">Sinopse</label>
                <input id="sinopse" type="text" class="form-control" th:field="${filme.sinopse}" placeholder="Sinopse do filme">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="genero">Gênero</label>
                <input id="genero" type="text" class="form-control" th:field="${filme.genero}" placeholder="Ex: Ação, Drama ou Comédia">
            </div>

            <div class="form-group">
                <label for="lancamento">Ano de Lançamento</label>
                <input id="lancamento" type="text" class="form-control" th:field="${filme.lancamento}" placeholder="AAAA">
            </div>
        </div>

        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-success">Atualizar Filme</button>
        </div>
    </form>
</div>

<script th:src="@{/js.js}"></script>
</body>
</html>
