<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de Filmes</title>
        <meta charset="UTF-8">
<body>
    <header th:insert="navbar.html"></header> 
        <h1>Cadastro de novo Filme</h1> 
        <form th:action="@{/cadastro-filme}" method="post"> 
                <div> 
                        <p>ID: <input type="text" th:field="${filme.id}" /> </p> 
                        <p>Nome: <input type="text" th:field="${filme.titulo}" /> </p>  
                        <p>Sinopse: <input type="text" th:field="${filme.sinopse}" /> </p>  
                        <p>Genero: <input type="text" th:field="${filme.genero}" /> </p>  
                        <p>Ano de Lançamento: <input type="text" th:field="${filme.anoLancamento}" /> </p>  
                    </div> 
                <button type="submit">Enviar</button> 
            </form> 
</body> 
</html> 
