<!DOCTYPE html> 
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head> 
        <title>Lista de analises</title> 
    </head> 
    <body> 
            <header th:insert="navbar.html"></header> 
            <h1>Lista de analises</h1> 
            <p>Essas são todas as suas analises:</p> 
            <table> 
                    <thead> 
                            <tr> 
                                    <th>ID</th> 
                                    <th>Filme</th> 
                                    <th>Analise</th> 
                                    <th>Nota</th> 
                                </tr> 
                        </thead> 
                    <tbody> 
                            <tr th:each="analise : ${listaAnalise}"> 
                                    <td th:text="${analise.id}"></td> 
                                    <td th:text="${analise.nomeFilme}"></td>
                                    <td th:text="${analise.analise}"></td>
                                    <td th:text="${analise.nota}"></td>  
                                </tr> 
                        </tbody> 
                </table> 
    </body> 
</html>

